
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// colors

$primary: #802bb1;
$secondary: #2d283d;
$extra: #564f6f;
$gray: #4c495d;
$light: #d1d7e0;
$main: #6c757d;

// fonts

$archivo: 'Archivo', sans-serif;
$poppins: 'Poppins', sans-serif;
$titillium: 'Titillium Web', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $poppins;
    line-height: 1.75;
    box-sizing: border-box;
}

:root { 
    background-color: $secondary;
} 


/* navigation */

li, a {
    font-weight: 500;
    color: $light;
    text-decoration: none;
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;

    .brand {
        color: $light;
        font-weight: 400;
    }
}

.navigation {
    width: 100%;
    position: relative;
    color: #fff;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav_content {
    flex: 1;
    text-align: right;

    ul li {
        list-style: none;
        display: inline-block;
        padding: 8px;
        position: relative;
    
        a {  
            font-size: 25px;
            vertical-align: middle;
            transition: all 0.3s ease 0s;
        }
        
        a:hover {
            color: $primary;
        }
    }
}

.banner {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: $primary;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 24px;
        color: $light;
    }
}

.btn_portfolio {
    border: 1px solid $light;
    border-radius: 0;
    background-color: transparent;
    color: $light;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}

/* body */

#header {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: 1080px;
    height: 1920px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-position: center;
    filter: opacity(0.2);
}

.landing-one {
    background-color: #fff;
    padding: 70px;
    position: relative;

    .landing-one__container {
        width: 75%;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 40px;
            color: $secondary;
            padding-bottom: 20px;
            opacity: 0;
            transform: translateY(100px);
            transition: all 1s ease 0s;

            span {
                color: $primary;
                text-align: center;
            }
        }

        h1.active {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .card {
        padding: 20px;
    }
}


.landing-one__desc {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.description {
    text-align: justify;
    font-size: 18px;
    padding: 20px;
    color: #6c757d;
}

.opentag, .closetag {
    font-size: 32px;
    font-family: $titillium;
    font-style: italic;
    opacity: 0.3;
    color: #6c757d;
}

.opentag::before {
    content: "<article>";
}

.closetag::after {
    content: "</article>";
}

.prog-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-shape-divider-bottom-1628002213 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628002213 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1628002213 .shape-fill {
    fill: $secondary;
}

.landing-two {
    background-color: $secondary;
    padding: 70px;
    position: relative;

    .landing-two__container {
        width: 75%;
        margin: 0 auto;

        h1 {
            font-size: 40px;
            color: #fff;
            padding-bottom: 20px;
            opacity: 0;
            transform: translateY(100px);
            transition: all 1s ease 0s;

            span {
                color: $primary;
                text-align: center;
            }
        }

        h1.active {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .card {
        padding: 20px;
    }
}

.custom-shape-divider-top-1628011641 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1628011641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1628011641 .shape-fill {
    fill: #2D283D;
}

.landing-three {
    background-color: #fff;
    padding: 80px;
    position: relative;

    .landing-three__container {
        width: 100%;
        margin: 0 auto;
        
        h1 {
            font-size: 40px;
            margin-top: 100px;
            text-align: center;
            color: $primary;
            opacity: 0;
            transform: translateY(100px);
            transition: all 1s ease 0s;
        }

        h1.active {
            opacity: 1;
            transform: translateY(0px);
        }

        .card {
            border: 1px solid $primary;
            border-radius: 5px;
            margin: 10px;

            .card-container {
                padding: 20px;
                
                p {
                    color: $gray;
                    font-style: italic;
                }

                span {
                    font-style: italic;
                    font-weight: 500;
                }
            }
        }
    }
}


/* gauge */

.gauge {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
 
.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #802bb17a;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background-color: $primary;
    transform-origin: center top;
    transition: all 1s ease 0s;
}

.gauge__cover {
    width: 70%;
    height: 150%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* text cover */

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
}

.gauge__value {
    font-weight: 600;
    color: $primary;
}

.gauge__description {
    font-size: 18px;
    color: $primary;
}

/* progress bar */

.skill-bar {
    color: #fff;

    .bar {
        margin: 20px 0;

        .info span {
            font-size: 18px;
            font-weight: 500;
        }
        
        .progress {
            position: relative;
            height: 20px;
            width: 100%;
            background-color: #6c757d;

            span {
                height: 100%;
                width: 80%;
                background-color: $primary;
                position: absolute;
                transform: scaleX(0);
                transform-origin: left;
                animation: all 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
                transition: all 1s ease 0s; 
            }

            span::before {
                position: absolute;
                content: "";
                right: 0;
                top: -10px;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-bottom-width: 0px;
                border-right-width: 0px;
                border-top-color: $extra;
            }

            span::after {
                position: absolute;
                right: 0;
                top: -35px;
                font-size: 17px;
            }

            .active {
                transform: scaleX(1);
            }
        } 

        .progress.ps span::after {
            content: "77%";
        }

        .progress.ai span::after {
            content: "84%";
        }

        .progress.pr span::after {
            content: "80%";
        }

        .progress.ae span::after {
            content: "69%";
        }

        .progress.au span::after {
            content: "43%";
        }

        .progress.ps span {
            width: 77%;
        }

        .progress.ai span {
            width: 84%;
        }

        .progress.pr span {
            width: 80%;
        }

        .progress.ae span {
            width: 69%;
        }

        .progress.au span {
            width: 43%;
        }
    }

    .bar:first-child {
        margin: 0px;
    }
}


/* portfolio */

.portfolio-one {

    h1 {
        font-size: 48px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        text-shadow: 4px 4px $extra;
        text-align: center;
        padding: 20px;
    }

    .container {
        width: 75%;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 100px;

        article {
            font-size: 17px;
            text-indent: 50px;
            text-align: justify;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        figcaption {
            text-align: center;
            font-style: italic;
        }

        .image {
            width: 50%;
            margin: 0 auto;
        }

        .card {
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 30px;
            margin: 10px;

            .card-content {
                span {              
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;

                    img {
                        margin-right: 10px;
                    }
                }

                a {
                    border: 1px solid #fff;
                    border-radius: 5px;
                    padding: 10px 12px;
                }
            }
        }

        .card-cert {
            padding: 30px;
            margin: 10px;

            .card-content {
                text-align: center;

                span {              
                    margin-bottom: 30px;

                    img {
                        margin-right: 10px;
                    }
                }

                a {
                    border: 1px solid #fff;
                    border-radius: 5px;
                    padding: 10px 12px;
                }
            }
        } 
    }
}

.blog-one {

    h1 {
        font-size: 48px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        text-shadow: 4px 4px $extra;
        text-align: center;
        padding: 20px;
    }

    .container {
        width: 75%;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 100px;

        article {
            font-size: 17px;
            text-indent: 50px;
            text-align: justify;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        figcaption {
            text-align: center;
            font-style: italic;
        }

        .image {
            width: 50%;
            margin: 0 auto;
        }
    }
}

.shape-container {
    position: fixed;
    top: 100px;
    z-index: -999;

    .circle-1 {
        position: absolute;
        opacity: 0.1;
        left: 10px;
        background-color: $primary;
        height: 800px;
        width: 800px;
        border-radius: 50%;
        z-index: 1;
    }

    .circle-2 {
        position: absolute;
        opacity: 0.1;
        left: 50px;
        background-color: $light;
        height: 1000px;
        width: 1000px;
        border-radius: 50%;
        z-index: -1;
    }
}


/*

.banner-wrapper {
    display: inline-block;
    overflow: hidden;
} 

img.banner {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
} */

/* sections */

/* section.banner-content {
    width: 100%;
    height: 91vh;
}

section.banner-content > .container {
    border: 1px solid red;
    margin: 0 auto;
    width: calc(100% - 500px);
}

section.section-one {
    position: relative;
    background-color: $light
} */

footer {
    background-color: $secondary;
    color: #fff;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-container {
        width: 95%;
        margin: 0 auto;

        .footer-link {
            display: flex;
            align-items: center;

            .footer_content {
                text-align: right;
                margin-left: 30px;

                ul li {
                    list-style: none;
                    display: inline-block;
                    padding: 8px;
                    position: relative;
                
                    a {  
                        font-size: 25px;
                        vertical-align: middle;
                        transition: all 0.3s ease 0s;
                    }
                    
                    a:hover {
                        color: $primary;
                    }
                }
            }
        }
    
        .about {
            padding: 20px;
            color: #564f6f;

            span {
                text-align: justify;
            }
        }
    }
}






/* default */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    transition: all 1s ease 0s;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
}

.column {
    grid-column: span 3;
    text-align: center;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    transition: all 1s ease 0s;
}

.column-2 {
    grid-column: span 6;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    transition: all 1s ease 0s;
}

.column-port {
    grid-column: span 6;
}

.column-cert {
    grid-column: span 4;
}

.column-3 {
    grid-column: span 4;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    transition: all 1s ease 0s;
}

.column-4 {
    grid-column: span 4;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    transition: all 1s ease 0s;
}

.column.active {
    transform: translateY(0px);
    opacity: 1;
}

.column-2.active {
    transform: translateY(0px);
    opacity: 1;
}

.column-3.active {
    transform: translateY(0px);
    opacity: 1;
}

.column-4.active {
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .column-2, .column-port, .column-cert {
        grid-column: span 12;
        margin: 0px;
    }

    .column-4 {
        grid-column: span 12;
    }

    .description {
        padding: 0px;
    }

    .landing-one .landing-one__container {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .column, .column-3 {
        grid-column: span 6;
    }

    .portfolio-one {
        h1 {
            text-align: center;
            font-size: 18px;
        }
    }

    .landing-two .landing-two__container {
        width: 100% !important;
    }
}

@media only screen and (max-width: 540px) {
    .column, .column-3 {
        grid-column: span 12;
    }

    .gauge {   
        max-width: 450px;
    }

    .prog-icon img {
        width: 35px;
    }
}




@import '../scss/media.scss';